body {
  font-family: sans-serif;
}
.card {
  background-color: aliceblue;
  width: 450px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.card-title {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.card-body {
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}
.card-footer {
  padding: 1rem 0;
  align-self: flex-end;
}
.btn {
  background-color: paleturquoise;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 50px;
}
.btn:hover {
  background-color: rgb(50, 89, 196);
  color: rgb(243, 241, 241);
}
.imges {
  width: 15px;
  padding-left: 18rem;
}
.badge {
  position: absolute;
  font-size: 10px;
  top: 25px;
  right: 120px;
  padding: 3px 6px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
.badge:hover {
  background-color: rgb(255, 112, 112);
}
